.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price {
  color: #616e7c;
  font-size: 16px;
  font-family: 'Roboto';
}

.cost-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 54px;
  margin-top: 5px;
}

.checkout-button {
  width: 140px;
  height: 30px;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.remove-all-btn{
  color: #0b69ff;
  border: none;
  background-color: transparent;
  font-family: "Roboto";
}