.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-total-label {
  color: #616e7c;
  font-size: 14px;
  font-family: 'Roboto';
}

.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  padding-right: 60px;
}

.checkout-button {
  width: 200px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentHeading {
  color: rgb(55, 55, 137);
  font-family: 'Roboto';
  font-size: 18px;
}

.priceDetailsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid black;
  width: 100%;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paymentType {
  color: rgb(55, 55, 137);
  font-family: 'Roboto';
}

.radio {
  color: rgb(9, 9, 9);
  font-family: 'Roboto';
}

.orderContainer {
  margin-left: 60px;
}

.order {
  width: 100px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgb(96, 96, 249);
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.notWorks {
  width: 100px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgb(96, 96, 249);
  border-radius: 10px;
  color: #ffffff;
  border: none;
  opacity: 0.5;
}

.radioDot {
  cursor: pointer;
}

.successFull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentSuccess {
  width: 100px;
  height: 100px;
}

.successHeading{
  color: rgb(9, 9, 9);
  font-family: 'Roboto';
}